@page

@using System.Data;
@using Funcs;

@model RPM_DT.Pages.MoviesModel

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
Number of movies @Model.Movies.Count
<br />

<a asp-page="Create">Create New</a>

<table cellpadding="4" cellspacing="4">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th>Rating</th>
    </tr>
    @foreach (var m in Model.Movies)
    {
<tr>
    <td>@m.Title</td>
    <td>@m.Genre</td>
    <td>@m.Price</td>
    <td>@Util.GetFmtdDate(m.ReleaseDate)</td>
    <td>@m.Rating</td>
    <td>
        <a asp-page="Edit" asp-route-id="@m.Id">Edit</a> |
    </td>
</tr>
    }
</table>

@functions{
}