@page

@using System.Data;

@model RPM_DT.Pages.MoviesModel
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
Number of movies @Model.Movie.Rows.Count

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Movie/Create">Create</a>
    </li>
</ul>

<table cellpadding="4" cellspacing="4">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th>Rating</th>
    </tr>
    @foreach (DataRow row in Model.Movie.Rows)
    {
        <tr>
            <td>@row["Title"]</td>
            <td>@row["Genre"]</td>
            <td>@row["Price"]</td>
            <td>@row["ReleaseDate"]</td>
            <td>@row["Rating"]</td>
        </tr>
    }
</table>

